@{
  ViewData["Title"] = "Campfire";
  ViewData["Description"] = "Cub Scouts is so much fun because of skits and songs! Find some of those here, along with some more formal ceremony scripts.";
  ViewData["Keywords"] = "cub scouts, pack 239, lake geneva, wisconsin, ceremonies, skits, songs";
}
<h2>@ViewData["Title"]</h2>

<p>
  <a href="Skits" title="Skits Page">Skits</a>
</p>
<p>
  <a href="Songs" title="Songs Page">Songs</a>
</p>
<p>
  <a href="Ceremonies" title="Ceremonies Page">Ceremonies</a>
</p>