<footer>
  <div class="container">
    <hr />

    <p class="float-left">&copy; 2018 - Pack 239 Lake Geneva</p>

    <div class="float-right contact-icons">
      <a href="/" title="Home Page" class="fluer-de-lis rounded-circle">&nbsp;</a>
      <a href="mailto:Pack239LakeGeneva@gmail.com" title="Email Pack 239"><i class="fas fa-envelope"></i></a>
      <a href="https://www.facebook.com/Pack239LakeGeneva" title="Pack 239 Facebook Page" target="_blank"><i class="fab fa-facebook-f"></i></a>
    </div>
  </div>
</footer>