@import 'site.scss';

.location-map {
  border: 0;
  height: 400px;
  width: 350px;
}

.leaders {
  .name:hover {
    color: $sctg-white;
    cursor: text;

    .contactBox {
      display: none !important;
    }
  }
}