@import 'site.scss';

.header-ribbon {
  .textLinks {
    a {
      float: left;
      padding-right: 15px;
    }
  }
}

.calendarEvent {
  .eventDescription {
    .location {
      display: block;
    }

    .location.short {
      display: none;
    }
  }
}

.leaders {
  a {
    color: $sctg-white;
    padding-left: 20px;
  }

  a:hover {
    color: $sctg-gold;
  }

  .phone {
    display: none;
  }

  .name:hover {
    .contactBox {
      .fa-envelope {
        top: 15px;
      }
    }
  }
}

.uniforms {
  img {
    height: auto;
    width: auto;
  }
}