@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto+Slab");
body {
  background-color: #003F87;
  font-family: "Roboto Slab", serif;
  padding-top: 50px;
  padding-bottom: 20px; }

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px; }

.navbar {
  background-color: #003366; }
  .navbar .navbar-brand {
    height: 75px; }
    .navbar .navbar-brand p {
      color: #FDC116;
      font-size: 12px;
      left: 42px;
      position: relative;
      top: -12px; }

/* Carousel */
.carousel-caption p {
  font-size: 20px;
  line-height: 1.4; }

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
  width: 100%; }

/* QR code generator */
#qrCode {
  margin: 15px; }

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none; } }

