@import 'site.scss';

body {
  background-color: $sctg-blue;
  background-image: url('../images/wallpapers/black-linen.png');
  color: $sctg-white;
  font-family: $sctg-font-primary;
  min-height: 100vh;
  overflow-x: hidden;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
  padding: 15px;
}

hr {
  background-color: $sctg-white;
}



/* Header Ribbon */
.header-ribbon {
  background-color: $sctg-gold;
  display: flex;
  height: 25px;

  p {
    font-size: 0.75rem;
    margin-bottom: 0;
  }

  a {
    color: $sctg-blue;
    position: relative;
    top: 2px;
  }

  a:hover {
    color: $sctg-white;
  }

  .contact-icons a {
    top: 0;
  }

  a.fluer-de-lis {
    background-color: $sctg-blue-pale;
    background-image: url('../images/bsa/logos/fleur de lis_blue_transparent.png');
    background-size: 100% 100%;
    display: inline-block;
    height: 25px;
    margin: 0 0.25rem;
    position: relative;
    width: 1.75rem;
  }

  a.fluer-de-lis:hover {
    background-image: url('../images/bsa/logos/fleur de lis_white_transparent.png');
    text-decoration: none;
  }

  .arrow {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 7px solid $sctg-blue-pale;
    display: inline;
    left: 32px;
    position: relative;
    top: 30px;
    width: 25px;
    z-index: 100;
  }

  .svg-inline--fa {
    margin: 0 0.5rem;
  }
}



/* Header Navbar */
.navbar {
  background-color: $sctg-blue;

  .navbar-toggler {
    border-color: $sctg-gold;
    position: relative;
    top: 10px;
  }

  .fa-bars {
    color: $sctg-gold;
  }

  .navbar-brand {
    height: 50px;
    margin-right: 0;

    img {
      height: 2rem;
    }

    p {
      color: $sctg-gold;
      font-size: 10px;
      left: 42px;
      position: relative;
      top: -10px;
    }
  }

  .navbar-nav li {
    margin: 10px;
  }

  .navbar-collapse {
    padding-top: 10px;
  }

  .btn-link {
    color: $sctg-white;
    padding: 0;
  }
}

.navbar-inverse .navbar-nav > li > a {
  color: $sctg-white;
}

.navbar-inverse .navbar-nav > li > a:hover {
  color: $sctg-gold;
}



/* Footer */
footer {
  background-color: $sctg-blue;
  display: flex;
  font-family: $sctg-font-secondary;

  p {
    color: $sctg-gold;
    font-size: 0.6rem;
    margin-top: 0.25rem;
  }

  .contact-icons {
    position: relative;
    top: -5px;
  }

  a {
    color: $sctg-white;
  }

  a:hover {
    color: $sctg-gold;
  }

  a.fluer-de-lis {
    background-image: url('../images/bsa/logos/fleur de lis_white_transparent.png');
    background-size: 100% 100%;
    display: inline-block;
    margin: 0 0.5rem;
    position: relative;
    top: -10px;
    width: 1.75rem;
  }

  a.fluer-de-lis:hover {
    background-image: url('../images/bsa/logos/fleur de lis_gold_transparent.png');
    text-decoration: none;
  }

  .svg-inline--fa {
      margin: 0.5rem;
    }
}

  address {
    font-family: $sctg-font-secondary;
    font-size: 0.85rem;

    strong {
      color: $sctg-gold;
      font-family: $sctg-font-primary;
      font-size: 1rem;
      text-decoration: underline;
    }

    a {
      color: $sctg-white;
    }

    a:hover {
      color: $sctg-gold;
    }
  }
  /* Carousel */
  .carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
  }
  /* Make .svg files in the carousel display properly in older browsers */
  .carousel-inner .item img[src$=".svg"] {
    width: 100%;
  }
  /* QR code generator */
  #qrCode {
    margin: 15px;
  }
  /* Hide/rearrange for smaller screens */
  @media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
      display: none;
    }
  }
