@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto+Slab");
body {
  background-color: #003F87;
  background-image: url("../images/wallpapers/black-linen.png");
  color: #FFFFFF;
  font-family: "Roboto Slab", serif;
  min-height: 100vh; }

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px; }

.navbar {
  background-color: #003366; }
  .navbar .navbar-brand {
    height: 75px; }
    .navbar .navbar-brand p {
      color: #FDC116;
      font-size: 12px;
      left: 42px;
      position: relative;
      top: -12px; }
  .navbar .navbar-nav li {
    margin: 20px;
    position: relative;
    top: -8px; }
  .navbar .navbar-collapse {
    padding-top: 10px; }

.navbar-inverse .navbar-nav > li > a {
  color: #FFFFFF; }

.navbar-inverse .navbar-nav > li > a:hover {
  color: #FDC116; }

.header-ribbon {
  background-color: #FDC116;
  display: flex; }
  .header-ribbon p {
    font-size: 0.75rem;
    margin-bottom: 0; }
  .header-ribbon a {
    color: #003366;
    position: relative;
    top: 2px; }
  .header-ribbon a:hover {
    color: #FFFFFF; }
  .header-ribbon .contact-icons a {
    top: 0; }
  .header-ribbon .svg-inline--fa {
    margin: 0 0.5rem; }

hr {
  background-color: #FFFFFF; }

footer {
  background-color: #003F87;
  display: flex; }
  footer p {
    color: #FDC116;
    font-size: 0.6rem; }
  footer .contact-icons {
    position: relative;
    top: -5px; }
  footer a {
    color: #FFFFFF; }
  footer a:hover {
    color: #FDC116; }
  footer .svg-inline--fa {
    margin: 0.5rem; }

/* Carousel */
.carousel-caption p {
  font-size: 20px;
  line-height: 1.4; }

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
  width: 100%; }

/* QR code generator */
#qrCode {
  margin: 15px; }

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none; } }

