@import 'site.scss';

body {
  background-color: $sctg-blue;
  background-image: url('../images/wallpapers/black-linen.png');
  color: $sctg-white;
  font-family: $sctg-font-primary;
  min-height: 100vh;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

.navbar {
  background-color: $sctg-blue-dark;

  .navbar-brand {
    height: 75px;

    p {
      color: $sctg-gold;
      font-size: 12px;
      left: 42px;
      position: relative;
      top: -12px;
    }
  }

  .navbar-nav li {
    margin: 20px;
    position: relative;
    top: -8px;
  }

  .navbar-collapse {
    padding-top: 10px;
  }
}

.navbar-inverse .navbar-nav > li > a {
  color: $sctg-white;
}

.navbar-inverse .navbar-nav > li > a:hover {
  color: $sctg-gold;
}

.header-ribbon {
  background-color: $sctg-gold;
  display: flex;

  p {
    font-size: 0.75rem;
    margin-bottom: 0;
  }

  a {
    color: $sctg-blue-dark;
    position: relative;
    top: 2px;
  }

  a:hover {
    color: $sctg-white;
  }

  .contact-icons a {
    top: 0;
  }

  .svg-inline--fa {
    margin: 0 0.5rem;
  }
}

hr {
  background-color: $sctg-white;
}

footer {
  background-color: $sctg-blue;
  display: flex;

  p {
    color: $sctg-gold;
    font-size: 0.6rem;
  }

  .contact-icons {
    position: relative;
    top: -5px;
  }

  a {
    color: $sctg-white;
  }

  a:hover {
    color: $sctg-gold;
  }

  .svg-inline--fa {
    margin:
