@import 'site.scss';

.navbar {
  .navbar-header {
    margin-right: 2em;
    width: auto;
  }

  .justify-content-center .dropdown-menu {
    background-color: $sctg-blue-pale;
    flex-direction: row;
    height: 60px;
    left: 50%;
    top: 42px;
    transform: translateX(-50%);
    white-space: nowrap;
  }

  .justify-content-center .searchBox {
    left: auto;
    width: 250px;

    .gsc-input-box {
      width: 150px !important;
    }
  }
}

.calendarEvent {
  .eventDescription {
    .summary {
      display: flex !important;
      white-space: nowrap;

      .description {
        float: left;
        left: -13.75rem;
        right: 0;
        top: 5.75rem;
        white-space: normal;
      }
    }
  }
}

.carousel .carousel-item img {
  width: auto;
}