@{
  ViewData["Title"] = "Ceremonies";
  ViewData["Description"] = "Cub Scouts is so much fun because of skits and songs! Find some of those here, along with some more formal ceremony scripts.";
  ViewData["Keywords"] = "cub scouts, pack 239, lake geneva, wisconsin, ceremonies, skits, songs";
}

<h2>@ViewData["Title"]</h2>

<hr />

<p>
  We love skits and songs too! But we're not quite done with this section. Come back soon!
</p>