<div class="header-ribbon">
  <div class="container">
    <p class="float-left textLinks">
      <a href="https://www.scouting.org" title="scouting.org Website" target="_blank" rel="noopener">scouting.org</a>
      <a href="http://www.glaciersedge.org" title="Glacier's Edge Council Website" target="_blank" rel="noopener" class="d-none d-sm-flex">glaciersedge.org</a>
    </p>

    <div class="float-right contact-icons">
      <div class="arrow"></div>
      <a href="/" title="Home Page" aria-label="Home Page" class="fluer-de-lis">&nbsp;</a>
      <a href="mailto:Pack239LakeGeneva@gmail.com" title="Email Pack 239"><i class="fas fa-envelope"></i></a>
      <a href="https://www.facebook.com/Pack239LakeGeneva" title="Pack 239 Facebook Page" target="_blank" rel="noopener"><i class="fab fa-facebook-f"></i></a>
    </div>
  </div>
</div>

<nav class="navbar navbar-inverse navbar-fixed-top navbar-dark navbar-expand-lg">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <i class="fa fa-bars"></i>
      </button>
      <a asp-area="" asp-controller="Home" asp-action="Index" title="Home Page" aria-label="Home Page" class="navbar-brand float-right float-lg-left">
        <img data-src="/images/BSA/Logos/BSA_Logo_Transparent.png" asp-append-version="true" alt="Boy Scouts of America Logo" />
        <p>Pack 239 - Lake Geneva, WI</p>
      </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a asp-area="" asp-controller="Home" asp-action="Join" title="Join Page">Join Us!</a></li>
        <li><a asp-area="" asp-controller="Calendar" asp-action="Index" title="Calendar Page">Calendar</a></li>
        <li class="dropdown justify-content-center">
          <a class="dropdown-toggle" href="#" title="Resources Dropdown" id="navbarResources" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Resources</a>
          <ul class="dropdown-menu" aria-labelledby="navbarResources">
            <li><a href="https://www.scoutbook.com/" title="Scoutbook" target="_blank" rel="noopener">Scoutbook</a></li>
            <li><a asp-area="" asp-controller="Resources" asp-action="Leaders" title="Leaders Page">Leaders</a></li>
            <li><a asp-area="" asp-controller="Resources" asp-action="Uniforms" title="Uniforms Page">Uniforms</a></li>
            <li><a asp-area="" asp-controller="Resources" asp-action="Documents" title="Documents Page">Documents</a></li>
          </ul>
        </li>
        <li class="dropdown justify-content-center">
          <a class="dropdown-toggle" href="#" title="Campfire Dropdown" id="navbarCampfire" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Campfire</a>
          <ul class="dropdown-menu" aria-labelledby="navbarCampfire">
            <li><a asp-area="" asp-controller="Campfire" asp-action="Skits" asp-route-skitName="" title="Skits Page">Skits</a></li>
            <li><a asp-area="" asp-controller="Campfire" asp-action="Songs" asp-route-songName="" title="Songs Page">Songs</a></li>
            <li><a asp-area="" asp-controller="Campfire" asp-action="Ceremonies" asp-route-ceremonyName="" title="Ceremonies Page">Ceremonies</a></li>
          </ul>
        </li>
        <li><a asp-area="" asp-controller="Home" asp-action="Contact" title="Contact Page">Contact</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="About" title="About Page">About</a></li>
        <environment exclude="Production">
          <li><div class="gcse-search"></div></li>
        </environment>
      </ul>
      @await Html.PartialAsync("_LoginPartial")
    </div>
  </div>
</nav>