<div class="header-ribbon">
  <div class="container">
    <p class="float-left textLinks">
      <a href="https://www.scouting.org">scouting.org</a>
      <a href="http://www.glaciersedge.org" class="d-none d-sm-flex">glaciersedge.org</a>
    </p>

    <div class="float-right contact-icons">
      <div class="arrow"></div>
      <a href="/" class="fluer-de-lis">&nbsp;</a>
      <a href="mailto:Pack239LakeGeneva@gmail.com"><i class="fas fa-envelope"></i></a>
      <a href="https://www.facebook.com/Pack239LakeGeneva"><i class="fab fa-facebook-f"></i></a>
    </div>
  </div>
</div>

<nav class="navbar navbar-inverse navbar-fixed-top navbar-dark navbar-expand-lg">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <i class="fa fa-bars"></i>
      </button>
      <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand float-right float-lg-left">
        <img src="~/images/BSA/Logos/bsa-logo_transparent.png" />
        <p>Pack 239 - Lake Geneva, WI</p>
      </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a asp-area="" asp-controller="Join" asp-action="Index">Join Us!</a></li>
        <li><a asp-area="" asp-controller="Calendar" asp-action="Index">Calendar</a></li>
        <li class="dropdown justify-content-center">
          <a class="dropdown-toggle" href="#" id="navbarResources" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Resources</a>
          <ul class="dropdown-menu" aria-labelledby="navbarResources">
            <li><a asp-area="" asp-controller="Leaders" asp-action="Index">Leaders</a></li>
            <li><a asp-area="" asp-controller="Uniforms" asp-action="Index">Uniforms</a></li>
          </ul>
        </li>
        <li><a asp-area="" asp-controller="Contact" asp-action="Index">Contact</a></li>
        <li><a asp-area="" asp-controller="About" asp-action="Index">About</a></li>
      </ul>
      <hr />
      @await Html.PartialAsync("_LoginPartial")
    </div>
  </div>
</nav>