@{
  ViewData["Title"] = "Search Results";
  ViewData["Description"] = "We hope that you follow the trail to what you're looking for.";
  ViewData["Keywords"] = "cub scouts, pack 239, lake geneva, wisconsin, search";
}
<h2>@ViewData["Title"]</h2>

