@{
  ViewData["Title"] = "Resources";
  ViewData["Description"] = "This section contains helpful information about our leaders, your uniform, and all things Cub Scouts.";
  ViewData["Keywords"] = "cub scouts, pack 239, lake geneva, wisconsin, resources";
}

<h2>@ViewData["Title"]</h2>

<p>
  <a href="https://www.scoutbook.com/" title="Scoutbook" target="_blank" rel="noopener">Scoutbook</a>
</p>
<p>
  <a href="Leaders" title="Leaders Page">Leaders</a>
</p>
<p>
  <a href="Uniforms" title="Uniforms Page">Uniforms</a>
</p>
<p>
  <a href="Documents" title="Documents Page">Documents</a>
</p>