@{
  ViewData["Title"] = "Leaders";
}

<h2>@ViewData["Title"]</h2>

<hr />

<div class="leaders">
  <div class="row">
    <div class="col-sm-12 d-flex justify-content-center">Committee</div>
  </div>
  <div class="row">
    <div class="col-6 col-sm-5 col-md-3">Chartered Org. Rep.</div>
    <div class="col-6 col-sm-5 col-md-3">Brad Gulbrandson</div>
    <div class="d-none d-sm-block col-sm-2 col-md-2"></div>
    <div class="d-none d-md-block col-md-4"></div>
  </div>
  <div class="row">
    <div class="col-6 col-sm-5 col-md-3">Committee Chair</div>
    <div class="col-6 col-sm-5 col-md-3">Nicole Zinkowich</div>
    <div class="d-none d-sm-block col-sm-2 col-md-2"></div>
    <div class="d-none d-md-block col-md-4"></div>
  </div>
  <div class="row">
    <div class="col-6 col-sm-5 col-md-3">Cubmaster</div>
    <div class="col-6 col-sm-5 col-md-3">Neil Doebler</div>
    <div class="d-none d-sm-block col-sm-2 col-md-2">262-716-6233</div>
    <div class="d-none d-md-block col-md-4">NeilDoebler@outlook.com</div>
  </div>
  <div class="row">
    <div class="col-6 col-sm-5 col-md-3">Asst. Cubmaster</div>
    <div class="col-6 col-sm-5 col-md-3">Anthony Nellessen</div>
    <div class="d-none d-sm-block col-sm-2 col-md-2"></div>
    <div class="d-none d-md-block col-md-4"></div>
  </div>
  <div class="row">
    <div class="col-6 col-sm-5 col-md-3">Secretary</div>
    <div class="col-6 col-sm-5 col-md-3">Cheryl Chamberin</div>
    <div class="d-none d-sm-block col-sm-2 col-md-2"></div>
    <div class="d-none d-md-block col-md-4"></div>
  </div>
  <div class="row">
    <div class="col-6 col-sm-5 col-md-3">Treasurer</div>
    <div class="col-6 col-sm-5 col-md-3">Phil Zinkowich</div>
    <div class="d-none d-sm-block col-sm-2 col-md-2"></div>
    <div class="d-none d-md-block col-md-4"></div>
  </div>
  <div class="row">
    <div class="col-6 col-sm-5 col-md-3">Member</div>
    <div class="col-6 col-sm-5 col-md-3">Brian Schuessler</div>
    <div class="d-none d-sm-block col-sm-2 col-md-2"></div>
    <div class="d-none d-md-block col-md-4"></div>
  </div>
  <div class="row">
    <div class="col-6 col-sm-5 col-md-3">Member</div>
    <div class="col-6 col-sm-5 col-md-3">Heidi Schuessler</div>
    <div class="d-none d-sm-block col-sm-2 col-md-2"></div>
    <div class="d-none d-md-block col-md-4"></div>
  </div>
  <div class="row">
    <div class="col-6 col-sm-5 col-md-3">Member</div>
    <div class="col-6 col-sm-5 col-md-3 open">We Need You!</div>
    <div class="d-none d-sm-block col-sm-2 col-md-2"></div>
    <div class="d-none d-md-block col-md-4"></div>
  </div>
</div>

<br /><br /><br />

<div class="leaders">
  <div class="row">
    <div class="col-sm-12 d-flex justify-content-center">Lions</div>
  </div>
  <div class="row">
    <div class="col-6 col-sm-5 col-md-3">Den Leader</div>
    <div class="col-6 col-sm-5 col-md-3 open">We Need You!</div>
    <div class="d-none d-sm-block col-sm-2 col-md-2"></div>
    <div class="d-none d-md-block col-md-4"></div>
  </div>
  <div class="row">
    <div class="col-6 col-sm-5 col-md-3">Asst. Den Leader</div>
    <div class="col-6 col-sm-5 col-md-3 open">We Need You!</div>
    <div class="d-none d-sm-block col-sm-2 col-md-2"></div>
    <div class="d-none d-md-block col-md-4"></div>
  </div>
</div>

<br /><br /><br />

<div class="leaders">
  <div class="row">
    <div class="col-sm-12 d-flex justify-content-center">Tigers</div>
  </div>
  <div class="row">
    <div class="col-6 col-sm-5 col-md-3">Den Leader</div>
    <div class="col-6 col-sm-5 col-md-3">Lynn Koepke</div>
    <div class="d-none d-sm-block col-sm-2 col-md-2"></div>
    <div class="d-none d-md-block col-md-4"></div>
  </div>
  <div class="row">
    <div class="col-6 col-sm-5 col-md-3">Asst. Den Leader</div>
    <div class="col-6 col-sm-5 col-md-3">Anthony Nellessen</div>
    <div class="d-none d-sm-block col-sm-2 col-md-2"></div>
    <div class="d-none d-md-block col-md-4"></div>
  </div>
</div>

<br /><br /><br />

<div class="leaders">
  <div class="row">
    <div class="col-sm-12 d-flex justify-content-center">Wolves</div>
  </div>
  <div class="row">
    <div class="col-6 col-sm-5 col-md-3">Den Leader</div>
    <div class="col-6 col-sm-5 col-md-3">Jesse Kearns</div>
    <div class="d-none d-sm-block col-sm-2 col-md-2"></div>
    <div class="d-none d-md-block col-md-4"></div>
  </div>
  <div class="row">
    <div class="col-6 col-sm-5 col-md-3">Asst. Den Leader</div>
    <div class="col-6 col-sm-5 col-md-3 open">We Need You!</div>
    <div class="d-none d-sm-block col-sm-2 col-md-2"></div>
    <div class="d-none d-md-block col-md-4"></div>
  </div>
</div>

<br /><br /><br />

<div class="leaders">
  <div class="row">
    <div class="col-sm-12 d-flex justify-content-center">Bears</div>
  </div>
  <div class="row">
    <div class="col-6 col-sm-5 col-md-3">Den Leader</div>
    <div class="col-6 col-sm-5 col-md-3">James Krober</div>
    <div class="d-none d-sm-block col-sm-2 col-md-2"></div>
    <div class="d-none d-md-block col-md-4"></div>
  </div>
  <div class="row">
    <div class="col-6 col-sm-5 col-md-3">Asst. Den Leader</div>
    <div class="col-6 col-sm-5 col-md-3 open">We Need You!</div>
    <div class="d-none d-sm-block col-sm-2 col-md-2"></div>
    <div class="d-none d-md-block col-md-4"></div>
  </div>
</div>

<br /><br /><br />

<div class="leaders">
  <div class="row">
    <div class="col-sm-12 d-flex justify-content-center">Webelos</div>
  </div>
  <div class="row">
    <div class="col-6 col-sm-5 col-md-3">Den Leader</div>
    <div class="col-6 col-sm-5 col-md-3">Jennifer Vavroch</div>
    <div class="d-none d-sm-block col-sm-2 col-md-2"></div>
    <div class="d-none d-md-block col-md-4"></div>
  </div>
  <div class="row">
    <div class="col-6 col-sm-5 col-md-3">Asst. Den Leader</div>
    <div class="col-6 col-sm-5 col-md-3">Victoria Finch</div>
    <div class="d-none d-sm-block col-sm-2 col-md-2"></div>
    <div class="d-none d-md-block col-md-4"></div>
  </div>
</div>

<br /><br /><br />

<div class="leaders">
  <div class="row">
    <div class="col-sm-12 d-flex justify-content-center">Arrow of Light</div>
  </div>
  <div class="row">
    <div class="col-6 col-sm-5 col-md-3">Den Leader</div>
    <div class="col-6 col-sm-5 col-md-3">Holly Smith</div>
    <div class="d-none d-sm-block col-sm-2 col-md-2"></div>
    <div class="d-none d-md-block col-md-4"></div>
  </div>
  <div class="row">
    <div class="col-6 col-sm-5 col-md-3">Asst. Den Leader</div>
    <div class="col-6 col-sm-5 col-md-3">Geordia Prichard</div>
    <div class="d-none d-sm-block col-sm-2 col-md-2"></div>
    <div class="d-none d-md-block col-md-4"></div>
  </div>
</div>