@{
  ViewData["Title"] = "Uniforms";
}

<h2>@ViewData["Title"]</h2>

<hr />

<p>A typical Cub Scout uniform shirt comes with the American flag patch already sewn on. The other parts that need to be added are:</p>
<ul class="purchase">
  <li><span>Council patch</span> - <i>We are part of the Glacier's Edge Council</i></li>
  <li><span>Pack number</span> - <i>We are Pack number 239 (red numbers)</i></li>
  <li><span>Epaulets</span> - <i>Cub Scouts wear blue shoulder epaulets</i></li>
  <li><span>World crest</span> - <i>Purple circle patch (optional)</i></li>
  <li><span>Den patch</span> - <i>According to your Den's number</i></li>
  <li><span>Neckerchief and slide</span> - <i>According to your Den's rank</i></li>
</ul>

<p>Rank patches and other award patches are earned by your Cub Scout throughout the year.</p>

<br />

<p>Uniforms can be purchased at any of these locations, as well as at any other Scout Shop:</p>
<ul>
  <li><a href="https://www.scoutshop.org/" target="_blank">ScoutShop.org</a></li>
  <li><a href="https://goo.gl/maps/pk5boWc1kKJ2" target="_blank">Reineman's True Value in Burlington</a></li>
  <li><a href="https://goo.gl/maps/iKuSDcGPcyC2" target="_blank">Janesville Scout Shop</a></li>
  <li><a href="https://goo.gl/maps/8q4SeMq6MFF2" target="_blank">Kenosha Scout Shop</a></li>
  <li><a href="https://goo.gl/maps/JFaxQCU4eFz" target="_blank">Milwaukee Scout Shop</a></li>
</ul>

<br />

<p>See below for the proper placement of patches.</p>

<br />
<br />
<br />

<div class="uniforms">
  <strong>Right Sleeve</strong>
  <img src="~/images/Uniforms/RightSleeve.png" />

  <strong>Left Sleeve</strong>
  <img src="~/images/Uniforms/LeftSleeve.png" />

  <strong>Right Pocket</strong>
  <img src="~/images/Uniforms/RightPocket.png" />

  <strong>Left Pocket - Cubs</strong>
  <img src="~/images/Uniforms/LeftPocketCubs.png" />

  <strong>Left Pocket - Webelos</strong>
  <strong class="paren">(<span>Blue Shirt</span>)</strong>
  <img src="~/images/Uniforms/LeftPocketWebelosBlue.png" />

  <strong>Left Pocket - Webelos</strong>
  <strong class="paren">(<span>Tan Shirt</span>)</strong>
  <img src="~/images/Uniforms/LeftPocketWebelosTan.png" />
</div>