@{
  ViewData["Title"] = "Uniforms";
}

<h2>@ViewData["Title"]</h2>

<hr />

<div class="uniforms">
  <h4>Right Sleeve</h4>
  <img src="~/images/Uniforms/RightSleeve.png" />

  <h4>Left Sleeve</h4>
  <img src="~/images/Uniforms/RightSleeve.png" />

  <h4>Right Pocket</h4>
  <img src="~/images/Uniforms/RightPocket.png" />

  <h4>Left Pocket - Cubs</h4>
  <img src="~/images/Uniforms/LeftPocketCubs.png" />

  <h4>Left Pocket - Webelos</h4>
  <h4 class="paren">(<span>Blue Shirt</span>)</h4>
  <img src="~/images/Uniforms/LeftPocketWebelosBlue.png" />

  <h4>Left Pocket - Webelos</h4>
  <h4 class="paren">(<span>Tan Shirt</span>)</h4>
  <img src="~/images/Uniforms/LeftPocketWebelosTan.png" />
</div>