@{
  ViewData["Title"] = "Uniforms";
}

<h2>@ViewData["Title"]</h2>

<hr />

<p>A typical Cub Scout uniform shirt comes with the American flag patch already sewn on. The other parts that need to be added are:</p>
<ul>
  <li>Council patch - <i>We are part of the Glacier's Edge Council</i></li>
  <li>Pack number - <i>We are Pack number 239 (red numbers)</i></li>
  <li>Epaulets - <i>Cub Scouts wear blue shoulder epaulets</i></li>
  <li>World crest - <i>Purple circle patch (optional)</i></li>
  <li>Den patch - <i>According to your Den's number</i></li>
  <li>Neckerchief and slide - <i>According to your Den's rank</i></li>
</ul>

<p>Rank patches and other award patches are earned by your Cub Scout throughout the year.</p>

<br />

<p>Uniforms can be purchased at any of these locations, as well as at any other Scout Shop:</p>
<ul>
  <li><a href="https://www.scoutshop.org/" target="_blank">ScoutShop.org</a></li>
  <li><a href="https://goo.gl/maps/pk5boWc1kKJ2" target="_blank">Reineman's True Value in Burlington</a></li>
  <li><a href="https://goo.gl/maps/iKuSDcGPcyC2" target="_blank">Janesville Scout Shop</a></li>
  <li><a href="https://goo.gl/maps/8q4SeMq6MFF2" target="_blank">Kenosha Scout Shop</a></li>
  <li><a href="https://goo.gl/maps/JFaxQCU4eFz" target="_blank">Milwaukee Scout Shop</a></li>
</ul>

<br />

<p>See below for the proper placement of patches.</p>

<br />
<br />
<br />

<div class="uniforms">
  <h4>Right Sleeve</h4>
  <img src="~/images/Uniforms/RightSleeve.png" />

  <h4>Left Sleeve</h4>
  <img src="~/images/Uniforms/LeftSleeve.png" />

  <h4>Right Pocket</h4>
  <img src="~/images/Uniforms/RightPocket.png" />

  <h4>Left Pocket - Cubs</h4>
  <img src="~/images/Uniforms/LeftPocketCubs.png" />

  <h4>Left Pocket - Webelos</h4>
  <h4 class="paren">(<span>Blue Shirt</span>)</h4>
  <img src="~/images/Uniforms/LeftPocketWebelosBlue.png" />

  <h4>Left Pocket - Webelos</h4>
  <h4 class="paren">(<span>Tan Shirt</span>)</h4>
  <img src="~/images/Uniforms/LeftPocketWebelosTan.png" />
</div>