@{
  ViewData["Title"] = "Uniforms";
}

<h2>@ViewData["Title"]</h2>

<hr />

<div class="uniforms">
  <img src="~/images/Uniforms/Sleeves.png" />
  <img src="~/images/Uniforms/RightPocket.png" />
  <img src="~/images/Uniforms/LeftPocketCubs.png" />
  <img src="~/images/Uniforms/LeftPocketWebelos.png" />
</div>