@{
  ViewData["Title"] = "About";
  ViewData["Description"] = "Cub Scouts is a family- and home-centered program that develops ethical decision-making skills for boys and girls in kindergarten through 5th grade (5-11 years old).";
  ViewData["Keywords"] = "cub scouts, pack 239, lake geneva, wisconsin, about";
}

<h2>@ViewData["Title"]</h2>

<hr />

<p>
  Cub Scouts is a year-round program that offers fun activities that promote character and leadership development.
  Our program is designed to be hands-on, and parents are encouraged to play an active role in our programs.
</p>

<p>
  Scouting embraces the outdoors through camping, hiking, and water sports. We also focus on helping our communities
  through service projects, STEM development, and building confident kids through our wide range of activities.
</p>

<p>
  The Cub Scout program is designed to develop physical, mental, and emotional fitness. Fitness includes the body (well-tuned and healthy),
  the mind (able to think and solve problems), and the emotions (self-control, courage, and self-respect).
</p>

<p>
  The Scouting program is delivered through local civic, faith-based, and educational institutions called chartered organizations,
  which operate Scouting units to deliver the programs to their youth members, as well as the community at large.
  Together, these organizations are run by almost one million adult volunteers dedicated to helping youth learn and grow.
</p>