@{
  ViewData["Title"] = "Contact Us";
}


<h2>@ViewData["Title"]</h2>

<hr/>

<h5>Have questions?  Contact us using the links below.</h5><br />

<div class="row">
  <address class="col-md-6 col-lg-4">
    <strong>Web</strong><br />
    <a href="https://www.pack239gakegeneva.org" target="_blank">https://www.Pack239LakeGeneva.org</a>
    <br /><br />
    <strong>E-Mail</strong><br />
    <a href="mailto:Pack239LakeGeneva@gmail.com">Pack239LakeGeneva@gmail.com</a>
    <br /><br />
    <strong>Facebook</strong><br />
    <a href="https://www.facebook.com/Pack239LakeGeneva" target="_blank">https://www.facebook.com/Pack239LakeGeneva</a>
  </address>

  <address class="col-md-6 col-lg-3">
    <strong>Address</strong><br />
    <a href="https://goo.gl/maps/nTA4YCkKtem" target="_blank">
      Cub Scout Pack 239<br />
      Immanuel Lutheran Church<br />
      700 N. Bloomfield Rd.<br />
      Lake Geneva, WI 53147
    </a>
  </address>

  <div class="col-md-6 col-lg-5 offset-md-6 offset-lg-0 d-none d-md-block">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5876.215596596037!2d-88.41701086604976!3d42.574234379173!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880589a190073ae1%3A0x8d7b0d691c83decb!2s700+N+Bloomfield+Rd%2C+Lake+Geneva%2C+WI+53147!5e0!3m2!1sen!2sus!4v1529001578635" frameborder="0" allowfullscreen class="location-map"></iframe>
  </div>
</div>