@{
  ViewData["Title"] = "Error Page";
}

<div class="error">
  <h2>A Scout is Helpful</h2>
  <hr />
  <div>
    <p>But despite our best efforts, we couldn't find what you were looking for!</p>
  </div>
</div>