@model ErrorViewModel

@{
  ViewData["Title"] = "Error";
  ViewData["Description"] = "A Scout is helpful - But despite our best efforts, we couldn't find what you were looking for!";
  ViewData["Keywords"] = "cub scouts, pack 239, lake geneva, wisconsin, error";
}

<div class="error">
  <h2>@Model.StatusCode - @Model.StatusMessage</h2>
  <hr />
  <div>
    <h2>@Model.ErrorHeadline</h2>

    <p>@Html.Raw(Model.ErrorText)</p>
  </div>
</div>