@model ErrorViewModel

@{
  ViewData["Title"] = "Error";
}

<div class="error">
  <h2>@Model.StatusCode - @Model.StatusMessage</h2>
  <hr />
  <div>
    <h2>@Model.ErrorHeadline</h2>

    <p>@Html.Raw(Model.ErrorText)</p>
  </div>
</div>