@{
  ViewData["Title"] = "Home";
  ViewData["Description"] = "Cub Scouts is a family- and home-centered program that develops ethical decision-making skills for boys and girls in kindergarten through 5th grade (5-11 years old).";
  ViewData["Keywords"] = "cub scouts, pack 239, lake geneva, wisconsin";
}

<div class="home">
  <h1>Cub Scout Pack 239<br />Lake Geneva, WI</h1>

  <hr />

  <div class="hero">
    <a href="Join" title="Scout Me In">
      <img data-src="images/Pack/MemorialDayParade.jpg" asp-append-version="true" alt="Scout Me In" class="homeImage" />
    </a>
  </div>

  <hr />

  <br />

  <strong>Announcements, Announcements, Announcements!</strong>
  <ul class="small-margin">
    <li>We are now accepting applications online! Click here to <a href="https://my.scouting.org/VES/OnlineReg/1.0.0/?tu=UF-MB-620paa0239" title="Apply Online" target="_blank" rel="noopener noreferrer">fill out an application</a>!</li>
    <li class="empty"></li>
    <li>We're back!  We've missed you!  Make sure to keep an eye on our <a href="Calendar" title="Calendar Page">calendar</a> to keep up to date on where and when you Den is meeting.<br />Make sure your contact information is up to date on <a href="https://scoutbook.scouting.org" title="Scoutbook" target="_blank" rel="noopener noreferrer">Scoutbook</a> so you don't miss important announcements.</li>
    <li class="empty"></li>
    <li>Please sign up for at least 1 donut shift per Scout. Sign up on Sign Up Genius here: <a href="https://www.signupgenius.com/go/70a0d4aa4ab2da3fe3-20221" title="Donut Sign Up">https://www.signupgenius.com/go/70a0d4aa4ab2da3fe3-20221</a></li>
    <li class="empty"></li>
    <li>It's popcorn selling season! This year, our Council is again using Trail's End for our popcorn vendor and everything is online! Register your Scout at the <a href="https://www.trails-end.com/registration/parent" title="Trail's End" target="_blank" rel="noopener noreferrer">Trail's End website</a> to get started selling!</li>
    <li class="empty"></li>
    <li>We're now recruiting boys AND girls! <a href="Contact" title="Contact Page">Contact us</a> for information on how to <a href="Join" title="Join Page">join</a>!</li>
    <li class="empty"></li>
    <li>All adults are encouraged to take <a href="https://www.scouting.org/training/youth-protection/" title="Youth Protection Training" target="_blank" rel="noopener noreferrer">Youth Protection Training</a>. Learn how the Boy Scouts of America works to keep all our Scouts safe.</li>
  </ul>
  <hr />
  <ul>
    <li class="empty"></li>
    <li>Look through the <a href="https://drive.google.com/file/d/1AyybJ1gpdCw5NNeWUDdd-W7mIkk7iaKM/view" title="Website Quick Start Guide" target="_blank" rel="noopener noreferrer">quick start guide</a> to see all the features provided by our new website!</li>
    <li>Please remember to update your contact information on <a href="https://scoutbook.scouting.org" title="Scoutbook" target="_blank" rel="noopener noreferrer">Scoutbook</a>.</li>
    <li>Set up <a href="/Documents/1R_sUr0fmnUWWLMaxUf6Me76QROEjCEx5" title="Text Reminders">text reminders</a> to keep up to date on meeting changes.</li>
  </ul>

  <div id="bannerCarousel" class="carousel slide carousel-fade banner" data-bs-ride="carousel" data-bs-interval="3500">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img data-src="images/BSA/BSA_WebBanner-wide_CUB1.jpg" asp-append-version="true" alt="Build Confidence" />
      </div>
      <div class="carousel-item">
        <img data-src="images/BSA/BSA_WebBanner-wide_CUB2.jpg" asp-append-version="true" alt="Build Character" />
      </div>
      <div class="carousel-item">
        <img data-src="images/BSA/BSA_WebBanner-wide_CUB3.jpg" asp-append-version="true" alt="Build Racecars" />
      </div>
      <div class="carousel-item">
        <img data-src="images/BSA/BSA_WebBanner-wide_CUB5.jpg" asp-append-version="true" alt="Build an Adventure" />
      </div>
    </div>
  </div>

  <br />
  <br />
  <br />

  <div class="upcomingEvents">
    <div class="calendarEvents">
      <div class="loading ml-auto mr-auto">
        <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 50 50" xml:space="preserve">
        <path fill="#000" d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z">
        <animateTransform attributeType="xml"
                          attributeName="transform"
                          type="rotate"
                          from="0 25 25"
                          to="360 25 25"
                          dur="0.75s"
                          repeatCount="indefinite" />

        </path>
        </svg>
        <span>Loading Events</span>
      </div>
    </div>
  </div>

  <p>
    We would love to have you <a href="Join" title="Join Page">join us</a>! Come to any of our <a href="Calendar" title="Calendar Page">events</a> or
    talk to one of our <a href="Leaders" title="Leaders Page">leaders</a> to sign up!
  </p>

  <br />
  <br />
  <br />

  <p>Take a look at the fun we've had!</p>

  <div id="imageCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="0" aria-label="Slide 1" class="active" aria-current="true"></button>
      <button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img data-src="images/Pack/2018WholePack.jpg" asp-append-version="true" alt="Cub Scout Pack 239" />
      </div>
      <div class="carousel-item">
        <img data-src="images/Pack/2018ArrowOfLight.jpg" asp-append-version="true" alt="Arrow of Light Crossover" />
      </div>
      <div class="carousel-item">
        <img data-src="images/Pack/2018PinewoodCars.jpg" asp-append-version="true" alt="Pinewood Derby Cars" />
      </div>
      <div class="carousel-item">
        <img data-src="images/Pack/2017Donuts.jpg" asp-append-version="true" alt="Apple Cider Donuts" />
      </div>
    </div>
    <button class="carousel-control-prev" title="Carousel Previous" type="button" data-bs-target="#imageCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" title="Carousel Next" type="button" data-bs-target="#imageCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
