@{
  ViewData["Title"] = "Join Us!";
  ViewData["Description"] = "Are you interested in joining our Pack? The information on this page will show you how!";
  ViewData["Keywords"] = "cub scouts, pack 239, lake geneva, wisconsin, join, application";
}

<h2>@ViewData["Title"]</h2>

<hr />

<p class="join">
  Our Pack typically meets on Tuesday nights at 6:15 PM during the school year at 
  <a href="https://goo.gl/maps/nTA4YCkKtem">Immanuel Lutheran Church</a> in Lake Geneva.
</p>

<p class="join">
  Our schedule consists of 3 Den meetings and 1 Pack meeting per month.
  We also have various outings and fundraising activities throughout the year.
  These include a family campout, spooky walk, selling donuts at Octoberfest, and others!
</p>

<p class="join">
  Some of the activities we've done in the past have inlcuded overnight campouts in a cave, Lambeau Field, the Discovery World museum, and Shedd Aquarium.
  We have also done outings to Traxside for roller skating, Big Foot Beach State Park for fishing, Timber Ridge water park, the Madison Mallards, and many more!
</p>

<hr />

<p class="join">
  The cost for registration is $72/Scout per year, plus $66/Scout per year for a Council fee for a total of $138/Scout per year.
  For new Scouts, there is a one-time new member fee of $25. For $12/scout per year, your Scout can receive the Boys Life magazine.
</p>

<p class="join">
  Because of the challenges of Covid for our many fundraising opportunities, our Pack committee has made the decision to implement a volunteer fee.
  This will entail a $50/first scout and $25/each additional scout per family.  If one adult for the family volunteers in one of the positions of need in the Pack, that fee will be returned to the Scout's account in the spring.
</p>

<p class="join">
  Come to any of our <a href="/Calendar">events</a> or talk to one of our <a href="/Leaders">leaders</a> and we'll be happy to help you get signed up!
</p>
