@using Microsoft.AspNetCore.Identity
@using Pack239LakeGeneva.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<environment exclude="Production">
  <hr />

  @if (SignInManager.IsSignedIn(User))
  {
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="login ml-auto">
      <ul class="nav navbar-nav navbar-right">
        <li>
          @if (User.IsInRole("Pending"))
          {
            <a href="https://www.google.com" title="Manage">Hello @UserManager.GetUserName(User)!</a>
          }
          else
          {
            <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
          }
        </li>
        <li>
          <button type="submit" class="btn btn-link navbar-btn navbar-link">Log out</button>
        </li>
      </ul>
    </form>
  }
  else
  {
    <ul class="nav navbar-nav ml-auto">
      <li><a asp-area="" asp-controller="Account" asp-action="Register" title="Account Registration Page">Register</a></li>
      <li><a asp-area="" asp-controller="Account" asp-action="Login" title="Account Login Page">Log in</a></li>
    </ul>
  }
</environment>